$main-color: rgb(55, 112, 55)
$bg-color: rgb(229, 227, 223)
$white : #ffffff
*
    padding: 0
    margin: 0
    box-sizing: border-box
html
body 
    font-family: Helvetica, sans-serif
    font-size: 16px
    background: #eee
// general rules
a 
    text-decoration: none
    color: #333333
// Main wrapper style
.main-wraper
    max-width: 1560px
    background: $white
    margin:  0 auto
header
    // outline: 1px solid red 
    display: flex
    justify-content: space-between
    align-items: center
    min-width: 960px
    .header_logo
        // outline: 2px solid red 
        padding: 10px 30px
        font-weight: bold
        font-size: 1rem
        letter-spacing: 4px
